#col1
  = render :partial => 'system_categories/system_category_avatar_sidebar', :locals => {:system_category => @system_category}
  = render :partial => 'system_categories/profile_sidebar'

#col2
  .box
    %h2= "#{link_to @system_category.name, system_category_path(@system_category)} : Select a profile photo".html_safe

  .box
    %h3= "Select a profile photo for #{@system_category.name}"
    %p= link_to( :new_photo.l, new_user_photo_path(@user))

    .clear
    - @photos.each do |photo|
      = link_to image_tag(photo.photo.url(:thumb)), system_category_change_profile_photo_path({:id => @system_category, :photo_id => photo}), :method => :put

  .box
    =paginate @photos

      
