

#col2
  -box do
    %h3= :inbox.l

    %table.messages{:border => 0, :width => '100%'}
      %tbody
        - if @messages.empty?
          %tr
            %td{ :colspan => "5" }
              = :no_messages.l
        -else
          - @messages.each do |message_thread|
            - message = message_thread.message
            // How message or parent_message can be null is a bug, hack til I can find it
            - if message && message_thread.parent_message && message_thread.parent_message.children
              - children = message_thread.parent_message.children
              %tr{:class => message_thread.read? ? 'read' :'unread'}
                %td{:width => '10px'}
                  %fieldset.inline
                    = check_box_tag "delete[]", message_thread.id
                %td
                  = link_to image_tag( message.sender.avatar_photo_url(:thumb), :width => "100px", "alt"=>"#{h(message.sender.display_name)}" ), user_message_path(@user, message), :title => message.sender.display_name

                %td
                  =link_to h(message_thread.subject), user_message_path(@user, message)
                  -if children.any?
                    %br
                    =children.any? ? "(#{children.size} messages)" : ''
                  -if !message_thread.read?
                    (Unread)
                  %br
                  %em
                    =message.sender.login
                    \:
                    =truncate(message.body, :length => 200)

                %td.meta{:width => '70px'}
                  =time_ago_in_words(message_thread.updated_at)

      %tfoot
        %tr
          %td{ :colspan => "5" }
            -if @messages.any?
              %p= submit_tag :delete_selected.l

    .pagination=paginating_links @messages if @messages.total_count > 1

