-box :class => 'alt first_alt' do
  = link_to( "&raquo; #{:back_to_all_users.l}", users_path) if params['login'] || params['tag_list']
  = form_tag users_path, :method => :get , :class => 'MainForm' do
    %label= "First name"
    = text_field_tag 'first_name', @search['first_name']
    %p
    %label= "Last name"
    = text_field_tag 'last_name', @search['last_name']
    
    /%p
    /= render :partial => 'shared/location_chooser', :locals => {:selected_country => @search['country_id'].to_i, :selected_state => @search['state_id'].to_i, :selected_metro_area => @search['metro_area_id'].to_i, :states => @states, :metro_areas => @metro_areas}

    %p

    %input{"type"=>"submit", "value"=>:search_users.l}


