.user_row
  %li.fn
    %h4= render :partial => 'users/user_name', :locals => {:user => user}
  .user_row_col1
    = link_to image_tag( user.avatar_photo_url(:thumb), :class => "index_listing" ), user_path(user)
    
  .user_row_col2

    %ul
      -if current_user && current_user.admin?
        =render :partial=>'users/authorizations', :locals => {:user => user}

      - if user.metro_area
        %li.geo= user.location
      %li.update
        %abbr.published{:title=>"#{user.created_at}"}
          =:joined.l + " #{user.created_at.strftime('%a, %b %d, %Y')}"

      - if current_user and current_user.can_request_friendship_with(user)
        %li{:class=>"addfriend_#{user.id}"}= add_friend_link(user)
        
    - unless user.tags.empty?
      %li.tags
        = li_tags_helper(user, 10)
        

  .user_row_col3b
    - if @search && @search['description']
      = truncate_words_with_highlight user.description, @search['description']
    - else
      = truncate_words user.description, 60, '...'
      


