=form_tag upload_profile_photo_user_url(@user), :method => 'put', :multipart =>true, :class => 'MainForm' do

  = error_messages_for :photo
  
  -box :id => "profile_details" do
    %h3=:profile_photo.l
    = @user.vendor ? "<div class='right_corner'><div class='community_pro'></div></div>" : ''
    .centered
      -if @user.publisher
        = image_tag( @user.avatar_photo_url(), :class => "polaroid" )
      -else
        = image_tag( @user.avatar_photo_url(:medium), :class => "polaroid" )
    %label
      =:choose_a_photo_for_your_profile.l
    = file_field :photo, :photo, :size => "20"
    
  .box
    = submit_tag :save_changes.l
