- if logged_in? && (current_user.admin? || current_user.user_admin?)
  .box
    %h3="User Admin"
    %ul
      %li= link_to( "#{:delete_this_user.l}", user_path(@user), {:method => :delete, :confirm => "Deleting a user can not be undone. Are you sure?"} )
      %li= "created at: #{time_ago_in_words(@user.created_at)}"
      %li= "activated at: #{time_ago_in_words(@user.activated_at)}"
      -if @user.last_request_at
        %li= "last request at: #{time_ago_in_words(@user.last_request_at)}"
      -else
        %li= "last request at: NIL"
      %li= "email: #{@user.email}"
      -if current_user && current_user.admin?
        =render :partial=>'users/authorizations', :locals => {:user => user}
      %li= "#{@user.login_count} logins"
      %li= "#{@user.posts.size} blog posts"
      %li= "#{@user.games.size} games"
      %li= "#{@user.characters.size} characters"
      %li= "#{@user.friendships.size} friends"
      %li= "#{@user.comments.size} comments"
      %li= "#{@user.activities_count} activities"
      %li= "#{@user.sb_posts_count} forum posts"