#col1
  = render :partial => 'profile_game_info_sidebar'


#col2
  .box
    %h2= "#{link_to h(@game.name), game_path(@game)} : Upload a profile photo".html_safe

    = error_messages_for :photo

    =form_for(:photo, :url => user_photos_path(:user_id => current_user.id, :album_id => params[:album_id]), :html => {:multipart =>true, :class => "MainForm"} ) do |f|
      = hidden_field_tag('game_id', @game.id)

      = f.file_field :photo
      %label
        %em
          = "#{configatron.photo['attachment_fu_options']['max_size']} megabyte limit".html_safe

      %p
      %label 
        =:title.l + ':'

      = f.text_field :name, :size => 35

      %p
      %label 
        = :tags.l
        %em="(#{:optional_keywords_describing_this_photo_separated_by_commas.l})"
      = text_field_tag 'tag_list', @photo.tag_list, {:autocomplete => "off", :size => 35}

      -##tag_list_auto_complete.auto_complete
      -#= auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [','] }

      %p
      %label
        =:description.l + ":"
      = f.text_area :description, :size => "58x5"


      %p
      %p
        = submit_tag "Save"
  
