!!!
%html
  %head
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}

    %title
      = @game.name
  
    -#= javascript_include_tag "prototype"
    -#= javascript_include_tag "rails"
    -#=stylesheet_link_tag "infrno_#{configatron.INFRNO_CSS_VERSION}"
    
    %script{:type => "text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19974708-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();      
            
  %body
    .gametable-navbar
      =link_to image_tag("infrnogametablelogo.png", :class => "smlogo"), game_path(@game), :confirm => "You are leaving the game table. Are you sure?"

      %ul
        %li{:class => 'current', :id => "gametable_tab"}
          %a{:href => "foo", :onclick => "hideAll(); document.getElementById('gametable').className='x-show-display'; document.getElementById('gametable_tab').className='current'; return false;"}
            %span
              Game table

        - @game.active_characters.each do |character|
          %li{:class => '', :id => "char_tab_#{character.id}"}
            %a{:href => character_url(character), :onclick => "hideAll(); document.getElementById('char_#{character.id}').show(); document.getElementById('char_tab_#{character.id}').className='current'; return false;"}
              %span
                = truncate_words(h(character.name), 2, "...")

    -#-if @game.use_video
    -#  %div{:id=>"devicePanelContainer"}
    -#    %input{:id=>"closeButton", :type=>"button", :onclick=>"closePanel();", :value=>"Close panel"}

    %div{:id=>"gametable", :class=>"x-show-display"}
      -if @game.use_video
        %div{:id=>"gametable_center"}
          %iframe{:src => "/games/#{@game.id}/ot_gametable", :width=>"100%", :height=>"100%", :scrolling=>"no", :frameborder=>"0"}
      -else
        %div{:id=>"gametable_full"}
          %iframe{:src => "/games/#{@game.id}/ot_gametable", :width=>"100%", :height=>"100%", :scrolling=>"no", :frameborder=>"0"}

      -if @game.use_video
        %div{:id=>"gametable_left"}
          .controls
            #status
              Connecting...
            #action
              &nbsp;
            #count-header{:class=>"hidden_controls"}
              Not yet connected
            #participants{:class=>"hidden_controls"}
              &nbsp;
            #watchers{:class=>"hidden_controls"}
              &nbsp;
          .video_feeds
            #myCamera{:class =>"publisherContainer"}
            #remote_views
              #remote_stream_1{:class=>"remote_feed"}
              #remote_stream_2{:class=>"remote_feed"}
              #remote_stream_3{:class=>"remote_feed"}
              #remote_stream_4{:class=>"remote_feed"}
              #remote_stream_5{:class=>"remote_feed"}
              #remote_stream_6{:class=>"remote_feed"}
              #remote_stream_7{:class=>"remote_feed"}

    #container
      #content
        #contentBody
          - @game.active_characters.each do |character|
            %div{:id=>"char_#{character.id}", :style=>"display:none"}
              - @character = character
              = render :file => "characters/game_table_sheet.html.haml"


