-description = ''
-if @game.status == 'open'
  -description = "#{h(@game.name)} is open for registration! "
-if !@game.description.blank?
  -description += "#{strip_tags(@game.description).gsub(/\n/, '')} "
-description += " #{configatron.meta_description}"

- @meta = { :description => description, :keywords => "#{@game.name}, #{configatron.meta_keywords}, #{@game.tags.join(", ") unless @game.tags.nil?}", :robots => configatron.robots_meta_show_content }
- @section = 'games'


#col1
  = render :partial => 'profile_game_info_sidebar'

  -if !@game.products.any?
    =render :partial => "shared/ad"

  -box :class => 'alt', :id => 'characters' do      
    %h3 Characters    
    - if @game.active_characters.length == 0
      No active characters.
    - @game.active_characters.each do |character|
      %p
        =render :partial => "characters/sidebar_character", :locals => {:character => character}
    

#col2
  -if @system_announcement.any? && current_user && current_user == @game.owner
    .box
      %h3{:style=>"color: #ff0000;"}= "SPECIAL ANNOUNCEMENT"
      = render :partial => 'posts/post', :collection => @system_announcement

  =render :partial => 'col2_header', :locals => { :game => @game }

  - unless @posts.empty?
    #posts.box.alt
      %h3= link_to "Posts (#{@game.posts.count})", game_post_path(@game)
      = render :partial => 'posts/post', :collection => @posts

  - if @character_blog_posts.length > 0
    .box.alt
      %h3 Recent character posts
      = render :partial => 'posts/post', :collection => @character_blog_posts
    
          
  - if !@game.description.blank?
    #about_me.box.alt
      %h3 About this game
      #user_generated_html
        = @game.description.html_safe
        
  - if !@game.premise.blank?
    #about_me.box.alt
      %h3 Premise
      #user_generated_html
        = @game.premise.html_safe
        
  - if !@game.style_of_play.blank?
    #about_me.box.alt
      %h3 Style of play
      #user_generated_html
        = @game.style_of_play.html_safe
  
    
  #comments.box.alt
    %p= render :partial => 'comments/comment_form', :locals => {:commentable => @game}

    - if @game.is_private
      %h2{:style=>"color: #ff0000;"} Image privacy warning
      %p
        Images included in comments on private games are not (yet) made private automatically.
        You can make an image private by selecting it on your photos page and editing it's details.

    
    %a#newest_comment
    = render :partial => 'comments/comment', :collection => @comments
    
    -if @comments.any?
      / this shouldn't be needed, as any user should be able to view comment on a game
      - @user = current_user
      %span#more_comments_links= more_comments_links(@game)
      
%script{:type=>"text/javascript", :charset=>"utf-8"}
  = remote_function :url => {:controller => 'games', :action => 'update_views', :id => @game}, :method => :put
      
