#col1
  = render :partial => 'posts/author_profile', :locals => {:user => @user}

  -if current_user && current_user == @photo.user
    =render :partial => 'photos/this_photo_links', :locals => {:photo => @photo}
    =render :partial => 'photos/nav_links'


#col2
  -box  do
    %h2= :editing_photo.l

    = error_messages_for :photo
    =form_for(:photo, :url => user_photo_path(@user, @photo), :html => { :method => :put, :class => "MainForm" }) do |f|
      
      = image_tag( @photo.photo.url(:large), :id => 'photo', :class => 'polaroid' )
      
      %p
      %label 
        = :tags.l
        %em="(#{:optional_keywords_describing_this_photo_separated_by_commas.l})"
      = text_field_tag 'tag_list', @photo.tag_list, {:autocomplete => "off", :size => 35}
      -##tag_list_auto_complete.auto_complete{"class"=>"auto_complete"}
      -#= auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [','] }
      %p
      %label= :title.l
      = f.text_field :name, :size => 35
      %p
      %label= :description.l
      = f.text_area :description, :size => "58x5"
      %p
      %label= :album.l
      = f.select(:album_id, current_user.albums.collect {|album| [album.title, album.id ] }, { :include_blank => true })

      %p
      %li
        = f.check_box :is_private
        Private

      %p
        = submit_tag :update.l
        = :or.l
        = link_to :cancel_and_go_back_to_my_photos.l, user_photos_path(@user)

