#col1
  = render :partial => 'posts/author_profile', :locals => {:user => @user}

  -if current_user && current_user == @photo.user
    =render :partial => 'photos/this_photo_links', :locals => {:photo => @photo}
    =render :partial => 'photos/nav_links', :locals => {:photo => @photo}
 

  - if @photo.album
    -box :class => "photo_nav alt" do
      %h3= "#{:album.l}: #{link_to @photo.album.title, user_album_path(@user, @photo.album)}".html_safe
      = link_to "<img src='#{@photo.previous_in_album.photo.url(:thumb)}' /><br />&laquo; ".html_safe + :previous.l, user_photo_path(@user, @photo.previous_in_album), :class => 'left' if @photo.previous_in_album
      = link_to "<img src='#{@photo.next_in_album.photo.url(:thumb)}' /><br />".html_safe + :next.l + "&raquo;".html_safe, user_photo_path(@user, @photo.next_in_album), :class => 'right' if @photo.next_in_album
  - elsif @previous || @next
    -box :class => "photo_nav alt" do
      = link_to "<img src='#{@previous.photo.url(:thumb)}' /><br />&laquo; ".html_safe + :previous.l, user_photo_path(@user, @previous), :class => 'left' if @previous
      = link_to "<img src='#{@next.photo.url(:thumb)}' /><br />".html_safe + :next.l + "&raquo;".html_safe, user_photo_path(@user, @next), :class => 'right' if @next

  - if @related.any?
    -box :class => "alt" do 
      %h3=:related_photos_all_members.l
      .centered
        - @related.each do |photo|
          = link_to image_tag( photo.photo.url(:thumb), :class => "polaroid"), user_photo_path(photo.user, photo), {:title => :photo_from_user.l_with_args(:photo_description => h(photo.description), :user => photo.user.login)}

#col2
  -box :class => "hfeed" do 
    %h2
      = link_to :users_photos.l_with_args(:user => @user.display_name), user_photos_path(@user)
      \:
      = link_to h(@photo.display_name), user_photo_path(@user, @photo)

    %p.centered= image_tag( @photo.photo.url(:large), :class => "polaroid" )
    
    %p= h @photo.description
    
    -if @photo.tags.any?
      %ul
        %li.tags
          =li_tags_helper(@photo)

  -box :class => "hfeed comments", :id => 'comments' do
    %h3 Comments
    %p= render :partial => 'comments/comment_form', :locals => {:commentable => @photo}
    %a#newest_comment
    = render :partial => 'comments/comment', :collection => @photo.comments
    -if @photo.comments.any?
      %span#more_comments_links= more_comments_links(@photo)

