!!!
%html
  %head
    %link{:rel=>"shortcut icon", :href=>"#{home_url}favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}

    %title= page_title
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}
  
    = render :partial => "shared/scripts_and_styles"
    - if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})
      
    - javascript_tag do
      = yield(:jstemplates)
      

    
  %body
    #container
      #content
        = render :partial => "shared/header"      
              
        #contentBodyNoWidth
          = render :partial => "shared/messages"
                    
          = @content_for_layout
                              
  
        #contentFooter
          .footer
            %ul
              %li.first
                %a{:href=>home_url, :title=>"#{configatron.community_name} " + :home.l}= :home.l
                
              - if logged_in?
                %li= link_to "Log out", logout_url
              -else
                %li= link_to "Log in" , login_path 
                  
              %li
                %a{:href=>'/privacy_policy.html'} Privacy Policy
              %li
                %a{:href=>'/report.html'} Report Copyright Infringement
              %li
                %a{:href=>'/tos.html'} TOS
                    
                
              - Page.find(:all).each do |page|
                - if (logged_in? || page.page_public)
                  %li
                    = link_to page.title, pages_path(page)
              
              %li
                %a{:href=> contact_url, :title=>"Contact"}
                  Contact
                 
              /- if @rss_title && @rss_url
              /  %li#rss= link_to :rss.l, @rss_url, {:title => @rss_title}
              
              
              
    #footer_bar
    #rss
      %a{:href=>"/site_index.rss"}
        %img{:src=>"/images/rss_icon.png", :height => "25", :width => "25"}
    #twitter
      %a{:href=>"http://twitter.com/Infrno"}
        %img{:src=>"/images/twitter_icon.png", :height => "25", :width => "25"}
    #facebook
      %a{:href=>"http://www.facebook.com/pages/Infrno/138633756147583"}
        %img{:src=>"/images/facebook_icon.jpg", :height => "25", :width => "25"}
    #facebook_recommend
      :plain
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Finfrno.net&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=recommend&amp;font=lucida+grande&amp;colorscheme=dark&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
      
        
